a {
  margin-right: 20px;
}

a.active {
  color: yellow;
}

.container {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.nav {
  width: 500px;
  background-color: #008c8c;
  text-align: center;
}
