h1 {
  width: 100%;
  height: 300px;
  margin: 0;
  text-align: center;
  position: absolute;
  left: 0;
}

.home {
  background-color: yellow;
}

.personal {
  background-color: red;
}
.news {
  background-color: green;
}

.exit {
  opacity: 1;
}
.exit-active {
  opacity: 0;
  transition: all 0.5s;
}

.exit-done {
  opacity: 0;
}

.enter {
  opacity: 0;
}

.enter-active {
  opacity: 1;
  transition: all 0.5s;
}

.enter-done {
  opacity: 1;
}
